:root {
    --primary-color: #3c2c2c;
    --secondary-color: #1b0760;
    --state-color: #ff3400;
    --default-color: #fff;
}

/* Typography for the font size in rems */
html {
    font-size: 62.5%;
}

/* General styles for the layout */
a {
    text-decoration: none;
    color: var(--default-color);
}

/*Style for the NavBar */
.NavBar {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.Hotel-name {
color: var(--primary-color);
font-family: "Emilys Candy", Arial, Helvetica, sans-serif;
font-size: 4rem;
font-weight: 700;
margin: 1rem;
text-align: center;
background: linear-gradient(to right, #536976, #292e49);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.nav-item {
    padding: .7rem;
}

.nav-link {
    
    display: block;
    list-style: none;
    margin-bottom: 1em;
    padding: 0.5rem;
    text-align: center;
}

.nav-link a {
    border-radius: .8rem;
    color: var(--secondary-color);
    font-family: "Outfit", serif;
    font-family: 400;
    font-size: 2.7rem;
    padding: .7rem 8rem;
    transition: background-color 0.3s ease-in;
}

.nav-link a:hover {
  background-color: var(--state-color);
  color: var(--default-color);
}

.nav-link .active {
    background-color: #8e0a0a;
  color: var(--default-color);
}

.nav-link:nth-child(1) a:hover {
    background-color: var(--state-color);
    color: var(--default-color);
}

.nav-link:nth-child(4) a:hover {
    background-color: #333;
    color: var(--default-color);
}

@media screen and (min-width: 768px) {
    .NavBar {
        flex-direction: row;
        justify-content: space-between;
    }

    .Hotel-name {
        padding-left: 1rem;
    }

.nav-item .nav-link {
    display: inline;
    padding: 1rem;
}

.nav-link a {
    padding: .3rem 1.3rem;
    font-size: 2rem;
}

}


/* Style for the Header bg-image and its Text */
.logo-bg {
    position: relative;
    width: 100%;
    height: 78vh;
    margin: 0;
    align-content: center;
}

.logo-bg::before {
    background-image: url(/image\ 1.jpg);
    background-size: cover;
    content: '';
    filter: blur(2px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.logo-head {
    text-align: center;
    color: var(--default-color);
    font-family: "Emilys Candy", serif;
    font-weight: 800;
    font-size: 2.5rem;
}

.logo-header {
    margin-bottom: .5rem;
}

.logo-text {
    margin-top: 0;
}


/* Style for the Icon the script link is the html */
.icon-section {
    margin-top: 4rem;
}

.icon-items {
    list-style: none;
    justify-content: space-around;
    display: flex; 
    padding: 0;
}

.icon-list {
    background-color: #ccc;
    padding: 1.5rem;
    border-radius: 100%;
    text-align: center;
    width: 5rem;
}

.icon-card p {
    text-align: center;
    margin-top: 2rem;
    font-family: "Outfit", serif;
}

.icon {
    font-size: 3.5rem;
}


/* Style for Hotel Room Gallery */
.room-photos {
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

img {
    width: 80px;
}


@media screen and (min-width: 1024px) {
    img {
        width: 220px;
        height: 300px;
    }
}


/* Style for the BG-Section */
.bg-layout {
    background-image: url(/background2.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    margin: 0;
    position: relative;
    width: 100%;
    margin-bottom: 5rem;
}



.content-bg {
   
   background-color: rgba(0, 0, 0, 0.5);
   color: var(--default-color);
   filter: blur(1);
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   transform: skew(-20deg); /* Skew to top-left */
  transform-origin: top left;
  pointer-events: none;
}

.content {
    position: relative;
    color: var(--default-color);
    font-family: "Roboto Condensed", serif;
    margin-left: 2rem;

    
}

.content-head {
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 3rem;
    padding-top: 1.5rem;
    margin-bottom: 0;   
}

.content-info {
    font-size: 1.2rem;
}

.btn {
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    background-color: #ed0800;
    color: var(--default-color);
    transition: background-color 0.5s ease-in;
}

.btn:hover {
    background-color: #33b249;
    cursor: pointer;
}

/* @media screen and (max-width: 768px) {
    .bg-layout, .content-bg {
        height: 30vh;
    }
} */


/* Wrapper */
.wrap-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    
}

.wrap-image img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.wrap-text {
    padding-top: 0;
}


.wrap-text-header {
    font-size: 3rem;
    font-family: "Roboto Condensed", serif;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
}

.wrap-text-info {
    letter-spacing: 1;
    line-height: 2;
    font-family: "Outfit", serif;
    font-size: 1.2rem;
    margin-top: 0;
}

.wrap-text-btn {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: "Outfit", serif;
}

.wrap-text-btn a {
    text-decoration: none;
    color: var(--primary-color);
}


.wrap-text-btn:hover {
    background-color: var(--state-color);
    cursor: pointer;
    color: var(--default-color);
}

.reverse-image {
    order: 2;
}

.reverse-text {
    order: 1;
}


@media screen and (min-width: 650px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .reverse-image {
        order: 1;
    }

    .reverse-text {
        order: 2;
    }


    .pos-image {
        order: 2;
    }

    .pos-text {
        order: 1;
        margin-left: 1rem;
    }

}