<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/normalise.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <script src="https://kit.fontawesome.com/fc130095ca.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <section class="icon-section">
        <ul class="icon-items">
            <div class="icon-card">
                <li class="icon-list"><i class="icon fa-solid fa-wifi"></i></li>
                <p>FREE WIFI</p>
            </div>

            <div class="icon-card">
                <li class="icon-list"><i class=" icon fa-solid fa-key"></i></li>
                <p>ROOM SERVICE</p>
            </div>

            <div class="icon-card">
                <li class="icon-list"><i class=" icon fa-solid fa-car-tunnel"></i></li>
                <p>FREE PARKING</p>
            </div>

            <div class="icon-card">
                <li class="icon-list"><i class="icon fa-solid fa-headset"></i></li>
                <p class="last">CUSTOMER SUPPORT</p>
            </div>
        </ul>
    </section>
</body>
</html>