<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/normalise.css">
    <link rel="stylesheet" href="/CSS/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class="NavBar">
        <h1 class="Hotel-name">White Plains</h1>
        <ul class="nav-item">
            <li class="nav-link"><a class="active" href="#">Home</a></li>
            <li class="nav-link"><a  href="#">About</a></li>
            <li class="nav-link"><a href="#">Rooms</a></li>
            <li class="nav-link"><a href="#">Contact Us</a></li>
        </ul>
    </div>
</body>
</html>