<!DOCTYPE html>
<html lang="en">  
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/normalise.css">
      <link rel="stylesheet" href="/CSS/style.css">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
 </head>
 <body>
      <section class="wrapper">
        <div class="wrap-content">
          <div class="wrap-image">
            <img src="/Hotel picture/pic1.jpg" alt="A room with a bed and a desk">
          </div>
          <div class="wrap-text">
            <h3 class="wrap-text-header">
                  Lorem ipsum
            </h3>
            <p class="wrap-text-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure provident minus fuga eveniet neque fugit id, at vel ratione magnam quam amet molestias temporibus magni non enim dolorem assumenda eaque!
            </p>
            <button class="wrap-text-btn"><a href="#">Read More</a></button>
          </div>
        </div>
        <div class="wrap-content">
          <div class="wrap-image reverse-image">
            <img src="/Hotel picture/gym.jpg" alt="A room with a bed and a desk">
          </div>
          <div class="wrap-text reverse-text">
            <h3 class="wrap-text-header">
                  Lorem ipsum
            </h3>
            <p class="wrap-text-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure provident minus fuga eveniet neque fugit id, at vel ratione magnam quam amet molestias temporibus magni non enim dolorem assumenda eaque!
            </p>
            <button class="wrap-text-btn"><a href="#">Read More</a></button>
          </div>
        </div>
        <div class="wrap-content">
          <div class="wrap-image pos-image">
            <img src="/Hotel picture/resturant.jpg" alt="A room with a bed and a desk">
          </div>
          <div class="wrap-text pos-text">
            <h3 class="wrap-text-header">
                  Lorem ipsum
            </h3>
            <p class="wrap-text-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure provident minus fuga eveniet neque fugit id, at vel ratione magnam quam amet molestias temporibus magni non enim dolorem assumenda eaque!
            </p>
            <button class="wrap-text-btn"><a href="#">Read More</a></button>
          </div>
        </div>
        <div class="wrap-content">
          <div class="wrap-image reverse-image pos-image">
            <img src="/Hotel picture/food.jpg" alt="A room with a bed and a desk">
          </div>
          <div class="wrap-text reverse-text pos-text">
            <h3 class="wrap-text-header">
                  Lorem ipsum
            </h3>
            <p class="wrap-text-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure provident minus fuga eveniet neque fugit id, at vel ratione magnam quam amet molestias temporibus magni non enim dolorem assumenda eaque!
            </p>
            <button class="wrap-text-btn"><a href="#">Read More</a></button>
          </div>
        </div>
      
      </section>
 </body>
</html>